* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container, .form-container, .profile-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.links, .form-container, .profile-container {
    width: 300px;
}

.links a {
    display: block;
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
    color: #4CAF50;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

#logout-btn {
    width: 100%;
    background-color: #f44336;
}

#logout-btn:hover {
    background-color: #e53935;
}
